__pycache__/main.cpython-39.pyc
static/
nltk_data/tokenizers/punkt_tab.zip
nltk_data/tokenizers/punkt.zip
nltk_data/tokenizers/punkt/.DS_Store
nltk_data/tokenizers/punkt/czech.pickle
nltk_data/tokenizers/punkt/danish.pickle
nltk_data/tokenizers/punkt/dutch.pickle
nltk_data/tokenizers/punkt/english.pickle
nltk_data/tokenizers/punkt/estonian.pickle
nltk_data/tokenizers/punkt/finnish.pickle
nltk_data/tokenizers/punkt/french.pickle
nltk_data/tokenizers/punkt/german.pickle
nltk_data/tokenizers/punkt/greek.pickle
nltk_data/tokenizers/punkt/italian.pickle
nltk_data/tokenizers/punkt/malayalam.pickle
nltk_data/tokenizers/punkt/norwegian.pickle
nltk_data/tokenizers/punkt/polish.pickle
nltk_data/tokenizers/punkt/portuguese.pickle
nltk_data/tokenizers/punkt/README
nltk_data/tokenizers/punkt/russian.pickle
nltk_data/tokenizers/punkt/slovene.pickle
nltk_data/tokenizers/punkt/spanish.pickle
nltk_data/tokenizers/punkt/swedish.pickle
nltk_data/tokenizers/punkt/turkish.pickle
nltk_data/tokenizers/punkt/PY3/czech.pickle
nltk_data/tokenizers/punkt/PY3/danish.pickle
nltk_data/tokenizers/punkt/PY3/dutch.pickle
nltk_data/tokenizers/punkt/PY3/english.pickle
nltk_data/tokenizers/punkt/PY3/estonian.pickle
nltk_data/tokenizers/punkt/PY3/finnish.pickle
nltk_data/tokenizers/punkt/PY3/french.pickle
nltk_data/tokenizers/punkt/PY3/german.pickle
nltk_data/tokenizers/punkt/PY3/greek.pickle
nltk_data/tokenizers/punkt/PY3/italian.pickle
nltk_data/tokenizers/punkt/PY3/malayalam.pickle
nltk_data/tokenizers/punkt/PY3/norwegian.pickle
nltk_data/tokenizers/punkt/PY3/polish.pickle
nltk_data/tokenizers/punkt/PY3/portuguese.pickle
nltk_data/tokenizers/punkt/PY3/README
nltk_data/tokenizers/punkt/PY3/russian.pickle
nltk_data/tokenizers/punkt/PY3/slovene.pickle
nltk_data/tokenizers/punkt/PY3/spanish.pickle
nltk_data/tokenizers/punkt/PY3/swedish.pickle
nltk_data/tokenizers/punkt/PY3/turkish.pickle
nltk_data/tokenizers/punkt_tab/README
nltk_data/tokenizers/punkt_tab/czech/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/czech/collocations.tab
nltk_data/tokenizers/punkt_tab/czech/ortho_context.tab
nltk_data/tokenizers/punkt_tab/czech/sent_starters.txt
nltk_data/tokenizers/punkt_tab/danish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/danish/collocations.tab
nltk_data/tokenizers/punkt_tab/danish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/danish/sent_starters.txt
nltk_data/tokenizers/punkt_tab/dutch/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/dutch/collocations.tab
nltk_data/tokenizers/punkt_tab/dutch/ortho_context.tab
nltk_data/tokenizers/punkt_tab/dutch/sent_starters.txt
nltk_data/tokenizers/punkt_tab/english/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/english/collocations.tab
nltk_data/tokenizers/punkt_tab/english/ortho_context.tab
nltk_data/tokenizers/punkt_tab/english/sent_starters.txt
nltk_data/tokenizers/punkt_tab/estonian/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/estonian/collocations.tab
nltk_data/tokenizers/punkt_tab/estonian/ortho_context.tab
nltk_data/tokenizers/punkt_tab/estonian/sent_starters.txt
nltk_data/tokenizers/punkt_tab/finnish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/finnish/collocations.tab
nltk_data/tokenizers/punkt_tab/finnish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/finnish/sent_starters.txt
nltk_data/tokenizers/punkt_tab/french/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/french/collocations.tab
nltk_data/tokenizers/punkt_tab/french/ortho_context.tab
nltk_data/tokenizers/punkt_tab/french/sent_starters.txt
nltk_data/tokenizers/punkt_tab/german/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/german/collocations.tab
nltk_data/tokenizers/punkt_tab/german/ortho_context.tab
nltk_data/tokenizers/punkt_tab/german/sent_starters.txt
nltk_data/tokenizers/punkt_tab/greek/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/greek/collocations.tab
nltk_data/tokenizers/punkt_tab/greek/ortho_context.tab
nltk_data/tokenizers/punkt_tab/greek/sent_starters.txt
nltk_data/tokenizers/punkt_tab/italian/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/italian/collocations.tab
nltk_data/tokenizers/punkt_tab/italian/ortho_context.tab
nltk_data/tokenizers/punkt_tab/italian/sent_starters.txt
nltk_data/tokenizers/punkt_tab/norwegian/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/norwegian/collocations.tab
nltk_data/tokenizers/punkt_tab/norwegian/ortho_context.tab
nltk_data/tokenizers/punkt_tab/norwegian/sent_starters.txt
nltk_data/tokenizers/punkt_tab/polish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/polish/collocations.tab
nltk_data/tokenizers/punkt_tab/polish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/polish/sent_starters.txt
nltk_data/tokenizers/punkt_tab/portuguese/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/portuguese/collocations.tab
nltk_data/tokenizers/punkt_tab/portuguese/ortho_context.tab
nltk_data/tokenizers/punkt_tab/portuguese/sent_starters.txt
nltk_data/tokenizers/punkt_tab/russian/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/russian/collocations.tab
nltk_data/tokenizers/punkt_tab/russian/ortho_context.tab
nltk_data/tokenizers/punkt_tab/russian/sent_starters.txt
nltk_data/tokenizers/punkt_tab/slovene/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/slovene/collocations.tab
nltk_data/tokenizers/punkt_tab/slovene/ortho_context.tab
nltk_data/tokenizers/punkt_tab/slovene/sent_starters.txt
nltk_data/tokenizers/punkt_tab/spanish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/spanish/collocations.tab
nltk_data/tokenizers/punkt_tab/spanish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/spanish/sent_starters.txt
nltk_data/tokenizers/punkt_tab/swedish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/swedish/collocations.tab
nltk_data/tokenizers/punkt_tab/swedish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/swedish/sent_starters.txt
nltk_data/tokenizers/punkt_tab/turkish/abbrev_types.txt
nltk_data/tokenizers/punkt_tab/turkish/collocations.tab
nltk_data/tokenizers/punkt_tab/turkish/ortho_context.tab
nltk_data/tokenizers/punkt_tab/turkish/sent_starters.txt
pre-trained-models/deepspeech-0.9.3-models.pbmm
